extends layout

block content
	#gameContainer
		#tweets
			each tweet in tweets
				article.col-md-4.tweet.pooping(data-followers="#{tweet.user.followers_count}")
					header <img src=#{tweet.user.profile_image_url} alt="#{tweet.user.screen_name}"> @#{tweet.user.screen_name}
						small.badge  #{tweet.user.followers_count}
					span #{tweet.text}
					
		
		img(src="/images/trollBird.png" alt="trollBird" width="220" height="172" id="trollbird")
			
		#emoticons
			#happy
				each i in new Array(37)
					img(class="emoji" draggable="false" alt="❤️" src="https://twemoji.maxcdn.com/72x72/1f603.png")
					
		
		figure#hunter
		#ball
	
	aside#sidebar
		#scoreboard
			#score You've shot tweets that have reached <span>0</span> followers
			#tokill <span></span> left to shoot.
		
		a.report.btn.btn-large.btn-warning Report these haters to Twitter
		
		article#tryalso
			h5 Hit these trollers too:
			a.btn.report(href='/women') Women harassment
			a.btn.report(href='/kenya') Gay discrimination
			a.btn.report(href='/xenophobia') Xenophobia
		table.table#meta
			tr
				td 
					img(class="emoji" draggable="false" alt="❤️" width="36" src="https://twemoji.maxcdn.com/72x72/1f603.png")
				td It doesn't affect you yet.
			tr
				td
					img(class="emoji" draggable="false" alt="❤️" width="36" src="https://twemoji.maxcdn.com/72x72/1f61f.png")
				td You're getting confused
			tr
				td
					img(class="emoji" draggable="false" alt="❤️" width="36" src="https://twemoji.maxcdn.com/72x72/1f621.png")
				td You don't like it anymore
			tr
				td
					img(class="emoji" draggable="false" alt="❤️" width="36" src="https://twemoji.maxcdn.com/72x72/1f635.png")
				td You're depressed. They've destroyed you.
						