extends layout

block content
	a(href='/kenya' class='col-sm-4 kenyaBG')
	a(href='/women' class='col-sm-4 womenBG')
	a(href='/xenophobia' class='col-sm-4 xenophobiaBG')
	img(src='/images/logo.svg', class='col-sm-4 col-sm-offset-4 verticalCenter')