doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(src="//twemoji.maxcdn.com/twemoji.min.js")
	body
		block content
		
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/script.min.js')
		#twitter-wjs