@import '../../bower_components/bootstrap/less/bootstrap.less';
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
	font-family: 'Roboto', sans-serif;
}
#gameContainer {
	width: 80vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background: #55acee;
	float: left;
}
#tweets {
	.tweet {
		position: absolute;
		padding: 20px;
		background-color: #fff;
		border-radius:0px 5px 5px 5px;
		transform: scale(1);
		transition:transform 2s, left 3s;
		header {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-100%);
			background: #fff;
			padding: 5px 20px 3px 20px;
			border-bottom: none;
			border-radius: 5px 5px 0 0;
			color: #4081b3;
			font-weight: bold;
			.badge {
				margin-left: 10px;
			}
		}
		&.pooping {
			transform: scale(0);
			opacity: .2;
		}
	}
}
#hunter {
	width: 20vh;
	height: 20vh;
	position: absolute;
	bottom: 0;
	background: url(../images/hunter.png) center center/contain no-repeat;
//	border-radius: 100% 100% 0 0;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
#ball {
	width: 30px;
	height: 30px;
	background: url(https://twemoji.maxcdn.com/72x72/1f46d.png) center center/contain no-repeat;
	position: absolute;
	bottom: 0;
	display: block;
	animation: spin 2s infinite linear;
}
#score {
	width:100%;
	height: 200px;
	color: #000;
	bottom: 0;
	text-align: center;
	border-bottom: 1px solid #000;
	padding-top: 40px;
	span {
		font-size: 80px;
		font-weight: bold;
		display: block;
		line-height: 1;
	}
}
#tokill {
	text-align: center;
	padding: 10px;
	border-bottom: 1px solid #000;
}
#trollbird{
	position: absolute;
	top: 20px;
	transition:transform 1s;
	&.flip {
		transform: rotateY(180deg);
	}
}

#emoticons {
	width: 100%;
	position: absolute;
	bottom: 0;
	img {
		width: 2.5%;
		height: 2.5%;
		margin: 0.1%;
	}
}
.verticalCenter {
	position: absolute;
	top: 0;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: auto;
	pointer-events: none;
}
.kenyaBG {
	background: url(../images/kenya.jpeg) center center/contain;
	height: 100vh;
	filter: blur(10px);
	transition: .2s;
	&:hover {
		filter: blur(0);
	}
}
.womenBG {
	background: url(../images/women.jpg) center center/contain;
	height: 100vh;
	filter: blur(10px);
	transition: .2s;
	&:hover {
		filter: blur(0);
	}
}
.xenophobiaBG  {
	background: url(../images/xenophobia.jpg) center center/contain;
	height: 100vh;
	filter: blur(10px);
	transition: .2s;
	&:hover {
		filter: blur(0);
	}
}
#sidebar {
	width: 20%;
	float: left;
	position: relative;
	height: 100vh;
	.report {
		width: 100%;
		border-radius: 0;
	}
}
#meta {
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
}
#tryalso {
	border: 1px solid #ccc;
	margin-top: 80px;
	border-left: none;
	border-right: none;	
	text-align: center;
}
#youDidIt {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #031D34;
	color: #fff;
	text-align: center;
	h1, a {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 40px;
		left: 0;
		right: 0;
	}
	a {
		top: 100px;
		color: #fff;
	}
}
#sound {
	width: 0;
	height: 0;
	overflow: hidden;
}